mat-list-item {
  display: flex;
  align-items: center;
}

mat-list-item h4 {
  margin: 0;
}

mat-list-item p {
  margin: 0;
}

mat-list-item span {
  margin-left: auto;
}

button[mat-icon-button] {
  margin-left: 8px;
}

.delete-btn {
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  font-size: 16px;
}

.vertical-timeline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-left: 20px;
  padding-left: 10px;
}

.note-timestamp {
  width: 60px;
  text-align: right;
  margin-right: 20px;
  color: #999;
}

.note-line {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.note {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  position: relative;
  min-width: 500px;
}

.note-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  margin-left: -5px;
}

.note-icon-wrapper {
  position: relative;
  width: 24px;
}

.note-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.note-line::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #ccc;
  left: 12px;
  top: 0;
  z-index: 0;
}

.note-content {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
  justify-content: space-between;

  .row {
    display: flex;
    flex-direction: column;
  }
}

.note-header {
  font-weight: bold;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
}

.note-body {
  margin-top: 5px;
}

mat-icon {
  font-size: 20px;
  color: #999;
  width: 24px;
  height: 24px;
  padding: 5px 0 0 2px;
}

.blue-txt {
  color: #19b0d2;
}

#menu-btn {
  mat-icon {
    padding: 0;
    margin: 0;
    font-size: 26px;
  }
}
